---
import Layout from "@/layouts/Layout.astro"

import AboutMe from "@/components/AboutMe.astro"
import Badge from "@/components/Badge.astro"
import Briefcase from "@/components/icons/Briefcase.astro"
import CodeIcon from "@/components/icons/Code.astro"
import Experience from "@/components/Experience.astro"
import GitHubIcon from "@/components/icons/GitHub.astro"
import LinkedInIcon from "@/components/icons/LinkedIn.astro"
import MailIcon from "@/components/icons/Mail.astro"
import CVIcon from "../components/icons/CV.astro"
import ProfileCheck from "@/components/icons/ProfileCheck.astro"
import Projects from "@/components/Projects.astro"
import SectionContainer from "@/components/SectionContainer.astro"
import SocialPill from "@/components/SocialPill.astro"
---

<Layout
	title="Eliseo - Desarrollador Fullstack"
	description="Conoce mas de Eliseo Arévalo, desarrollador fullstack .net y javascript"
>
	<main class="px-4">
		<SectionContainer
			id="top"
			class="py-10 pb-16 flex flex-col items-center"
		>
			<img
				class="h-[16rem] bg-cover bg-[center_center] bg-no-repeat border-[3px] rounded-full relative"
				src="/eliseo.png"
				alt=""
			/>
			<h1
				class="text-gray-900 flex-col dark:text-white text-3xl md:text-4xl lg:text-5xl font-bold flex flex-row gap-x-4 pb-6 mt-3"
			>
				Eliseo Arévalo <a
					href="https://www.linkedin.com/company/serfinsa/mycompany/"
					target="_blank"
					rel="noopener"
					class="flex justify-center items-center hover:scale-105 transition"
				>
					<Badge>Desarrollador Mid</Badge>
				</a>
			</h1>
			<h2
				class="text-xl text-center lg:text-2xl text-balance max-w-[700px] text-black dark:text-white"
			>
				<span>El código no es solo funcionalidad;</span><span
					class="text-yellow-800 dark:text-yellow-200"
				>
				también es creatividad y colaboración</span
				> </span>
				
			</h2>
			<nav class="flex gap-4 mt-8 flex-wrap">
				<SocialPill href="http://linkedin.com/in/eliseo-arevalo">
					<LinkedInIcon class="size-4 md:size-6" />
					LinkedIn
				</SocialPill>
				<SocialPill href="https://github.com/eliseo-arevalo">
					<GitHubIcon class="size-4 md:size-6" />
					GitHub
				</SocialPill>
				<!-- <SocialPill href="mailto:enriquejulio071@gmail.com">
					<MailIcon class="size-4 md:size-6" />
					 enriquejulio071
				</SocialPill> -->
				<SocialPill
					href="/EliseoArevaloCV.pdf"
				>
					<CVIcon class="size-4 md:size-6" />
					Curriculum
				</SocialPill>
			</nav>
		</SectionContainer>

		<SectionContainer id="experiencia">
			<h2
				class="text-3xl font-semibold mb-6 flex gap-x-3 items-center text-black/80 dark:text-white/80"
			>
				<Briefcase class="size-7" />
				Experiencia laboral
			</h2>
			<Experience />
		</SectionContainer>

		<SectionContainer id="proyectos">
			<h2
				class="text-3xl font-semibold mb-6 flex gap-x-3 items-center text-black/80 dark:text-white/80"
			>
				<CodeIcon class="size-7" />
				Proyectos
			</h2>
			<Projects />
		</SectionContainer>

		<SectionContainer id="sobre-mi">
			<h2
				class="text-3xl font-semibold mb-6 flex gap-x-3 items-center text-black/80 dark:text-white/80"
			>
				<ProfileCheck class="size-7" />
				Sobre mí
			</h2>
			<AboutMe />
		</SectionContainer>
	</main>
</Layout>
