<section class="flex flex-col md:flex-row gap-8 justify-center items-center">
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-yellow-400 [&>p>strong]:font-semibold text-pretty order-2 md:order-1"
  >
    <p>
      Mi nombre es Eliseo Francisco Arévalo, tengo 20 años de edad, 
      hace 4 soy programador, actualmente trabajo como desarrollador
      </strong
      >.
    </p>


    <p>
      Como programador me encanta mi trabajo y estoy en constante,  <strong
        > aprendizaje. <em class="italic"></em></strong>.
        Actualmente estoy disponible para colaborar en proyectos interesantes, contactame.
    </p>
  </div>
  <img src="/eliseo.jpg" class="rounded-full size-64 order-1 md:order-2" />
</section>
