<div class="opacity-90 mt-2">
  <span class="relative flex overflow-hidden rounded-full p-[1px]">
    <span
      class="absolute inset-[-1000%] bg-[conic-gradient(from_90deg_at_50%_50%,#bae6fd_0%,#38bdf8_50%,#bae6fd_100%)] opacity-70"
    ></span>
    <div
      class="inline-flex h-full w-full items-center justify-center rounded-full bg-white/80 dark:bg-white/[0.06] border border-gray-200 dark:border-white/10 px-3 py-1 text-sm font-medium text-gray-900 dark:text-white backdrop-blur whitespace-nowrap"
    >
      <slot />
    </div>
  </span>
  </div>
