---
import ExperienceItem from "./ExperienceItem.astro"
const EXPERIENCIE = [
  {
    employer: "Serfinsa",
    date: "ene. 2024 - actualidad",
    title: "Desarrollador Analista Mid",
    description:
      "Desarrollo de plataforma, dise침o y arquitecutura de proyectos, migraci칩n de proyectos con ASP.NET core y SQLSEVER.",
    link: "https://www.redserfinsa.com/",
  },
  {
    date: "sept. 2022 - nov. 2023",
    employer: "Axios Click",
    title: "Full Stack Developer",
    description:
      "Desarrollo de nuevos productos, dise침o e implementaci칩n de nuevas funcionalidades, mantenimiento de aplicaciones existentes.",
    link: "https://axios.click/",
  }
]

---
<ol class="relative border-s border-gray-200 ml-3">
  {
    EXPERIENCIE.map((experiencie) => (
      <li class="mb-10 ms-4">
        <ExperienceItem {...experiencie} />
      </li>
    ))
  }
</ol>
