---
import ExperienceItem from "./ExperienceItem.astro"
import CompanyTimeline from "./CompanyTimeline.astro"
const EXPERIENCE = [
  {
    company: "Serfinsa",
    logo: "/serfinsa-logo.png", // Assuming you have company logos
    duration: "may. 2025 - actualidad", // Overall company duration
    roles: [
      {
        title: "Desarrollador Sr de Automatización",
        date: "may. 2025 - actualidad",
        description:
          "Liderazgo y gestión de equipos enfocados en la creación y administración de flujos de automatización para optimizar procesos.",
        link: "https://www.redserfinsa.com/",
        isPromotion: true,
      },
      {
        title: "Desarrollador Analista Mid",
        date: "ene. 2024 - may. 2025",
        description:
          "Participación en el desarrollo de plataformas, diseño y arquitectura de proyectos, incluyendo la migración de sistemas a ASP.NET Core con SQL Server.",
        link: "https://www.redserfinsa.com/",
      },
    ],
  },
  {
    company: "Axios Click",
    logo: "/axios-logo.png", // Assuming you have company logos
    duration: "sept. 2022 - nov. 2023",
    roles: [
      {
        title: "Full Stack Developer",
        date: "sept. 2022 - nov. 2023",
        description:
          "Desarrollo de nuevos productos, diseño e implementación de funcionalidades clave y mantenimiento de aplicaciones existentes en un entorno Full Stack.",
        link: "https://axios.click/",
      },
    ],
  },
];

---
<div class="relative ml-3">
  {
    EXPERIENCE.map((company) => (
      <div class="mb-10">
        <CompanyTimeline {...company} />
      </div>
    ))
  }
</div>
